@mixin tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 1.5em;

  font: 16px/1.5 'Libre Franklin', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  @include tablet-up {
    padding: 2em 4em;
    max-width: 50em;
    font-size: 19px;
    line-height: 1.6;
  }
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration-skip: ink;
  color: palevioletred;
}

h1 {
  margin: 0 0 .5em 0;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  margin: 0 0 .5em 0;
}

h3 {
  margin: 0 0 1em 0;
  font-weight: bold;
}

ul, ol {
  margin: 2em 0 2em 1em;
  list-style: disc;

  @include tablet-up {
    margin-left: 2em;
  }
}

li {
  margin: 0 0 1em 0;
}

.homepage-hero {
  h1 {
    font-size: 1.5em;
    line-height: 1.3;
    margin: 0 0 .25em;

    @include tablet-up {
      font-size: 2em;
    }
  }

  h2 {
    margin: 0 0 2em 0;
    padding: 0 0 1.1em 0;

    font-size: 1.1em;
    line-height: 1.3;

    border-bottom: 3px solid palevioletred;
  }

  body.home & {
    h1 {
      font-size: 2e1.5m;

      @include tablet-up {
        font-size: 2.3em;
      }
    }

    h2 {
      font-size: 1.4em;

      @include tablet-up {
        font-size: 1.8em;
      }
    }
  }
}

.social {
  margin: 3em 0 1em;
  a {
    display: inline-block;
    padding: .15em;
    margin-right: .1em;
  }
}

.creative-projects {
  margin: 0 -1em;
  padding: 0;

  list-style: none;

  li {
    img {
      width: 100%;
      height: auto;
      border: 1px solid #555;
    }
  }

  @include tablet-up {
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 1em;
      flex: 1;
      flex-basis: 33%;
    }
  }
}
