body {
  margin: 0;
  padding: 2em 4em;
  font: 19px/1.6 'Libre Franklin', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 50em;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration-skip: ink;
  color: palevioletred;
}

h1 {
  margin: 0 0 .5em 0;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  margin: 0 0 .5em 0;
}

h3 {
  margin: 0 0 1em 0;
  font-weight: bold;
}

ul, ol {
  margin: 2em 0 2em 2em;
  list-style: disc;
}

li {
  margin: 0 0 1em 0;
}

.homepage-hero {
  h1 {
    font-size: 2em;
    line-height: 1.3;
    margin: 0 0 .25em;
  }

  h2 {
    margin: 0 0 2em 0;
    padding: 0 0 1.1em 0;

    font-size: 1.2em;
    line-height: 1.3;

    border-bottom: 3px solid palevioletred;
  }

  body.home & {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.8em;
    }
  }
}

.social {
  margin: 2em 0;
  a {
    display: inline-block;
    padding: .15em;
    margin-right: .1em;
  }
}
